/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   margin: 0;
   padding: 0;
 }

a, a:hover {
  text-decoration: none;
}


.main-content {
  /* margin-left: 140px;
  margin-top: 40px; */
  margin: 40px auto;
}

#error_explanation {
  margin-top: 20px;
}

#error_explanation ul li {
  list-style: none;
}


 /* header */

header .headline {
  line-height: 100px;
  float: left;
  margin-left: 100px;
  color: black;
  font-size: 30px;
}

/* span.welcome-comment {
  color: white;
  margin-left: 30px;
} */

.navlist {
  /* display: flex; */
  /* float: right; */
  line-height: 100px;
  float: left;
  margin-left: 30px;
  list-style: none;
}

.navitem {
  list-style: none;
  display: inline-block;
  margin: 0 20px;

  padding: 0.3em 1em;
  background-color: #66CCFF;
  color: white;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.navitem:hover {
  background: #67c5ff;
  color: white;
}
  
/* .navigation li {
   margin-right: 15px;
   font-size: 15px;
 } */

 .field {
   margin-top: 20px;
   font-weight: bold;
 }

 .header{
  /* margin-top: 20px; */
  /* position: fixed; */
  margin-bottom: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__inner{
  max-width: 1152px;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__logo{
  flex: none;
  width: auto;
  height: 35px;
}



.header__navgroup{
  margin-left: auto;
  display: flex;
  flex: none;
  color: white;
}
.header__navgroup > * + *{
  margin-left: 60px;
}
.header__navitem{
  font-size: 16px;
  color: #fff;
}

.form-area {
  margin-left: 150px;
}

a.header-button {
  color: white;
  padding: 4px;
}

a.header-button:hover {
  border: solid 2px white;
  border-radius: 8px;
  
}


.btn, a.btn:visited {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  margin: 5px auto;
  color: black;
  background: #90EE90;
  /* border: solid black 3px; */
  border-radius: 8px;
  font-weight: bold;
}

.btn:hover {
  background: #98FB98;
  /* background: #DDDDDD; */
  transition: all .2s linear;
  font-weight: bold;
  /* background: rgb(249,194,112); */
}

.btn-delete, a.btn-delete:visited {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  margin: 5px;
  color: black;
  background: #FF3333;
  border-radius: 8px;
  font-weight: bold;
}

a.btn-delete:hover {
  font-weight: bold;
  background: #FF0033;
  /* background: #DDDDDD; */
  transition: all .2s linear;
  /* background: rgb(249,194,112); */
}

.buttons {
  margin-left: 150px;
}

.btn-create, a.btn-create:visited {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  margin: 5px;
  color: black;
  background: #66CCFF;
  border-radius: 8px;
  font-weight: bold;
  border: none;
}

.btn-create:hover {
  font-weight: bold;
  background: #00CCFF;
  /* background: #DDDDDD; */
  transition: all .2s linear;
}
