// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.comment-body {
  font-size: 20px;
}

.comment-area {
  background-color: #FFFFCC;
}

.comment-start {
  margin-top: 20px;
}
